body{
	background: #B6D399/*#000066*/;
}

.center{
	padding: 40px;
	background: #cdcdcd;
	text-align: center;
	width: 300px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	border-radius: 20px;
}

.dot_matrix{
	font-size: 50pt;
	padding-left: 0px;
}

/*
button{
	font-size: 10pt;
	text-align: center;
	background: transparent;
	border: 1px;
	width: 10px;
	border-radius: 10px;
}
*/
button{
	font-size: 50pt;
	text-align: center;
	background: transparent;
	border: 1px #000000;
}

button:hover{
	text-shadow: 0px 0px 10px #000000;
}

button:focus{
	text-shadow: 0px 0px 10px #500000;
}

th{
	padding-left: 25px;
	padding-right: 25px;
}

th:hover{
	text-shadow: 0px 0px 10px #000000;
}

